#board {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px 140px;
  grid-template-rows: 140px 140px 140px 140px 140px;
  background-color:darkgrey;
  width: 700px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
}

#bottombar {
  height: 60px;
  align-content: center;
}

#instructions {
  height: 100px;
  width: 720px;
  background-color: white;
  padding-top: 15px;
  margin: 0px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
  line-height: 150%;
}

#bottombar button {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 10px;
  position: relative;
  float: left;
  font-size: 30px
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.unselected { 
  background-color: gray;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected { 
  background-color:cyan;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1 {
  background-color:moccasin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.player2 {
  background-color:aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}