#board {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  background-color: #2196F3;
  width: 420px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
}

#bottombar {
  height: 100px;
  align-content: center;
}

#instructions {
  height: 200px;
  width: 480px;
  background-color: white;
  padding-top: 15px;
  margin: 0px;
  text-align: center;
  border: 1px solid black;
}

#bottombar button {
  width: 240px;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 20px;
  position: relative;
  float: left;
  font-size: 2vw
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.playable { 
  background-color: gray;
  height: 100px;
  width: 100px;
}

.unplayable {
  background-color: gold;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}